<div class="row">

  <!-- SECTION HEADER -->
<section class="bg-dark text-white py-4 position-relative shadow-sm">
  <div class="container text-center">
    <h2 class=" h2 text-4xl md:text-5xl font-extrabold mb-4">
      <i class="bi bi-shield-lock me-2"></i>Authentification
    </h2>
    <p class="text-light mx-auto mb-0" style="max-width: 720px;">
    Identifiez-vous ou créez votre compte pour accéder à plus de ressources et fonctionnalités.
  </div>
</section>
<section class="py-12 bg-white">
    <div class="row justify-content-center g-6 py-12 px-12">
      <!--  Formulaire de connexion -->
      <div class="col-12 col-md-6  py-6">
         <app-login></app-login>
      </div>
      <div class="col-12 col-md-6  py-6">
         <app-register></app-register>
      </div>
    </div>
</section>
</div>

