<div class="row">

  <nav class="navbar navbar-expand-lg sticky-top bg-light navbar-light  border-bottom  px-3 sticky top-0 z-50">

    <!-- Logo -->
    <a class="navbar-brand fw-bold d-flex align-items-center text-2xl text-blue-600" [routerLink]="'/'">
      <img src="images/Logo24px.png" alt="Logo" class="h-8 w-8 mr-2" />
       JDevHub
    </a>

    <!-- Liens principaux (desktop) -->
    <div class="ms-auto d-none d-md-flex align-items-center">
      <ul class="navbar-nav me-3">

        @if (!isLoggedIn) {
            <!-- Non connecté   -->
            @for(item of unsecuredMenuItems(); track item.label ){
            <li class="nav-item">
              <a class="nav-link" [routerLink]="item.path" routerLinkActive="active" aria-current="page"
                (click)="scrollTop()">
                <i class="bi {{item.icon}} me-1"></i> {{item.label}}
              </a>
            </li>
            }
        }
        @if (isLoggedIn) {
         <!-- connecté   -->
        <li class="nav-item" *ngFor="let item of securedMenuItems()">
          <a class="nav-link" [routerLink]="item.path" routerLinkActive="active" aria-current="page"
            (click)="scrollTop()">
            <i class="bi {{item.icon}} me-2"></i> {{item.label}}
          </a>
        </li>       
        }
      </ul>
    </div>
    <!-- Bouton hamburger (mobile) -->
    <div class="d-md-none ms-auto">
      <button class="btn btn-outline-secondary me-2" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#sidebarMobile" aria-controls="sidebarMobile" aria-label="Ouvrir le menu">
        <i class="bi bi-list"></i>
      </button>
    </div>
  </nav>

  <!-- Offcanvas (mobile) -->
  <div class="offcanvas offcanvas-start navbar-gray" tabindex="-1" id="sidebarMobile"
    aria-labelledby="sidebarMobileLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title fw-bold" id="sidebarMobileLabel">
        <img src="images/Logo24px.png" alt="Logo" class="h-8 w-8 mr-2" />
       JDevHub
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fermer le menu"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column">
      <!-- Non connecté -->
      @if (!isLoggedIn) {     
      <ng-container>
        @for( item of unsecuredMenuItems(); track item.path){
        <a [routerLink]="item.path" class="btn btn-outline-secondary mb-2 text-start w-100" data-bs-dismiss="offcanvas">
          <i class="bi {{item.icon}} me-2"></i> {{item.label}}
        </a>
        }      
      </ng-container>
      }      
      <!-- Connecté -->
      @if (isLoggedIn) {
      <ng-container>
        @for( item of securedMenuItems(); track item.path){
        <a [routerLink]="item.path" class="btn btn-outline-secondary mb-2 text-start w-100" data-bs-dismiss="offcanvas">
          <i class="bi {{item.icon}} me-2"></i> {{item.label}}
        </a>
        }      
      </ng-container>      
      }
    </div>
  </div>
</div>