<div class="row">

    <!-- HERO -->
<section class="w-full bg-gray-700 text-white py-6 px-6">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-bold mb-2"><i class="bi bi-gear me-2"></i>Administration</h2>
    <p class="text-md text-gray-300">
      Gestion et configuration du panneau administrateur
    </p>
  </div>
</section>
    <!-- Section Sécurité -->
    <section class="w-full py-12 px-6 bg-white">


        <div class="max-w-5xl mx-auto text-center">
            <h5 class="section-title mb-4 text-left">Compte & Sécurité</h5>

            <div class="row g-4 mb-5">

                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/admin/users" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-people fs-1"></i>
                            <h5 class="card-title mt-3">Utilisateurs</h5>
                            <p class="card-text">Gérer les comptes</p>
                        </div>
                    </a>
                </div>
                 <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/admin/groups" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-people-fill fs-1"></i>
                            <h5 class="card-title mt-3">Groupes</h5>
                            <p class="card-text">Gérer les groupes</p>
                        </div>
                    </a>
                </div>
 
                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/admin/roles" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-person-gear fs-1"></i>
                            <h5 class="card-title mt-3">Rôles</h5>
                            <p class="card-text">Gérer les rôles</p>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/admin/permissions" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-shield-lock fs-1"></i>
                            <h5 class="card-title mt-3">Permissions</h5>
                            <p class="card-text">Gérer les permissions</p>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/admin/profils" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-person-bounding-box fs-1"></i>
                            <h5 class="card-title mt-3">Profils</h5>
                            <p class="card-text">Gérer les profils</p>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/admin/preferences" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-sliders fs-1"></i>
                            <h5 class="card-title mt-3">Préférences</h5>
                            <p class="card-text">Gérer les préférences</p>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/admin/confidentialites" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-incognito fs-1"></i>
                            <h5 class="card-title mt-3">Confidentialités.</h5>
                            <p class="card-text">Gérer les paramètres de confidentialités</p>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/admin/mailbox" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-inboxes-fill fs-1"></i>
                            <h5 class="card-title mt-3">Boîtes mail</h5>
                            <p class="card-text">Gérer les boîtes mail.</p>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </section>
   
    <!-- Section configuration -->
    <section class="w-full py-6 px-6 bg-white">
        <div class="max-w-5xl mx-auto text-center">
            <h5 class="section-title mb-4 text-left">Paramètrage & Configuration </h5>
            <div class="row g-4 mb-5">                

                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/admin/parametres" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-gear fs-1"></i>
                            <h5 class="card-title mt-3">Paramètres</h5>
                            <p class="card-text">Gérer les Paramètres.</p>
                        </div>
                    </a>
                </div>
                
                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/admin/notifications" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-bell fs-1"></i>
                            <h5 class="card-title mt-3">Notifications</h5>
                            <p class="card-text">Gérer les notifications</p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/admin/titres" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-wallet2 fs-1"></i>
                            <h5 class="card-title mt-3">Titres</h5>
                            <p class="card-text">Gérer les titres ou civilités.</p>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/admin/sujets" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-calendar fs-1"></i>
                            <h5 class="card-title mt-3">Motif de contact</h5>
                            <p class="card-text">Gérer les motifs de contact.</p>
                        </div>
                    </a>
                </div>

                 <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/admin/domaines" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-braces-asterisk fs-1"></i>
                            <h5 class="card-title mt-3">Domaines</h5>
                            <p class="card-text">Gérer les domaines de compétences et d'expertises.</p>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/admin/competences" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-key fs-1"></i>
                            <h5 class="card-title mt-3">Compétences</h5>
                            <p class="card-text">Gérer des competences.</p>
                        </div>
                    </a>
                </div>


                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/admin/expertises" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-magic fs-1"></i>
                            <h5 class="card-title mt-3">Expertises</h5>
                            <p class="card-text">Gérer des expertises.</p>
                        </div>
                    </a>
                </div>

          
                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/admin/formations" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-award fs-1"></i>
                            <h5 class="card-title mt-3">Formations</h5>
                            <p class="card-text">Gérer des formations et certifications</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>    
</div>