<div class="row">

  <!-- SECTION HEADER -->
<section class="bg-dark text-white py-4 position-relative shadow-sm">
  <div class="container text-center">
    <h2 class=" h2 text-4xl md:text-5xl font-extrabold mb-4">
      <i class="bi bi-envelope-paper me-2"></i>Contactez moi
    </h2>
    <p class="text-light mx-auto mb-0 col-lg-8">
      Besoin d’un accompagnement en architecture, développement ou DevOps ?  Échangeons sur vos enjeux techniques et vos objectifs métier.
    </p>
  </div>
</section>
<section class="py-12 bg-white">
  <div class="row  px-6 g-3">
    <!-- Colonne 1 -->
    <div class="col-12 col-md-6">
         <app-contact-form></app-contact-form>
    </div>
    <!-- Colonne 2 -->
    <div class="col-12 col-md-6">
      <app-contact-info></app-contact-info>
    </div>
  </div>
</section>
</div>

