<section class="bg-dark text-white py-4"
         style="background: linear-gradient(to bottom right, #0a192b, #ffffff);">

  <div class="container">

    <!-- Titre -->
    <div class="text-center mb-4">
      <h6 class="text-uppercase fw-bold mb-2">
        Environnements techniques
      </h6>
    </div>

    <!-- Grille -->
    <div class="row g-3">

      <!-- Item -->
      <div class="col-6 col-md-4 col-lg-2">
        <a href="https://angular.fr/" target="_blank"
           class="d-flex align-items-center text-white text-decoration-none">
          <img src="https://cdn.simpleicons.org/angular/red"
               alt="Angular" class="me-2" width="20" height="20">
          Angular
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-2">
        <a href="https://www.typescriptlang.org/" target="_blank"
           class="d-flex align-items-center text-white text-decoration-none">
          <img src="https://cdn.simpleicons.org/typescript"
               alt="TypeScript" class="me-2" width="20" height="20">
          TypeScript
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-2">
        <a href="https://www.java.com/fr/" target="_blank"
           class="d-flex align-items-center text-white text-decoration-none">
          <img src="icons/Java.svg"
               alt="Java" class="me-2" width="24" height="24">
          Java
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-2">
        <a href="https://spring.io/projects/spring-boot" target="_blank"
           class="d-flex align-items-center text-white text-decoration-none">
          <img src="https://cdn.simpleicons.org/spring"
               alt="Spring Boot" class="me-2" width="20" height="20">
          Spring Boot
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-2">
        <a href="#" target="_blank"
           class="d-flex align-items-center text-white text-decoration-none">
          <img src="https://cdn.simpleicons.org/elasticsearch"
               alt="Elastic Search" class="me-2" width="20" height="20">
          Elastic
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-2">
        <a href="#" target="_blank"
           class="d-flex align-items-center text-white text-decoration-none">
          <img src="https://cdn.simpleicons.org/postgresql"
               alt="PostgreSQL" class="me-2" width="20" height="20">
          PostgreSQL
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-2">
        <a href="#" target="_blank"
           class="d-flex align-items-center text-white text-decoration-none">
          <img src="https://cdn.simpleicons.org/mongodb"
               alt="MongoDB" class="me-2" width="20" height="20">
          MongoDB
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-2">
        <a href="#" target="_blank"
           class="d-flex align-items-center text-white text-decoration-none">
          <img src="icons/Kafka.svg"
               alt="Kafka" class="me-2" width="22" height="22">
          Kafka
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-2">
        <a href="https://kubernetes.io/" target="_blank"
           class="d-flex align-items-center text-white text-decoration-none">
          <img src="https://cdn.simpleicons.org/kubernetes"
               alt="Kubernetes" class="me-2" width="20" height="20">
          Kubernetes
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-2">
        <a href="https://www.docker.com/" target="_blank"
           class="d-flex align-items-center text-white text-decoration-none">
          <img src="https://cdn.simpleicons.org/docker"
               alt="Docker" class="me-2" width="20" height="20">
          Docker
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-2">
        <a href="https://docs.ansible.com/" target="_blank"
           class="d-flex align-items-center text-white text-decoration-none">
          <img src="https://cdn.simpleicons.org/ansible"
               alt="Ansible" class="me-2" width="20" height="20">
          Ansible
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-2">
        <a href="https://developer.hashicorp.com/terraform" target="_blank"
           class="d-flex align-items-center text-white text-decoration-none">
          <img src="https://cdn.simpleicons.org/terraform"
               alt="Terraform" class="me-2" width="20" height="20">
          Terraform
        </a>
      </div>

    </div>
  </div>
</section>
