<div class="row">

    <!-- HERO -->
<section class="w-full bg-gray-700 text-white py-6 px-6">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-bold mb-2">Mon espace personnel</h2>
    <p class="text-md text-gray-300">
      Gestion et configuration de mon compte
    </p>
  </div>
</section>
    <!-- Section Sécurité -->
    <section class="w-full py-12 px-6 bg-white">

        <div class="max-w-5xl mx-auto text-center">
            <h5 class="section-title mb-4 text-left">Compte & Sécurité</h5>

            <div class="row g-4 mb-5">

                <!--  DEBUT -->

                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/moncompte/profil" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-person-bounding-box fs-1"></i>
                            <h5 class="card-title mt-3">Profil</h5>
                            <p class="card-text">Gérer mon profil</p>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/moncompte/preference" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-sliders fs-1"></i>
                            <h5 class="card-title mt-3">Préférences</h5>
                            <p class="card-text">Gérer mes préférences</p>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/moncompte/confidentialite" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-incognito fs-1"></i>
                            <h5 class="card-title mt-3">Confidentialités.</h5>
                            <p class="card-text">Gérer mes paramètres confidentialités</p>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <a routerLink="/moncompte/notification" class="card text-center card-menu h-100">
                        <div class="card-body">
                            <i class="bi bi-bell fs-1"></i>
                            <h5 class="card-title mt-3">Notifications</h5>
                            <p class="card-text">Gérer mes notifications.</p>
                        </div>
                    </a>
                </div>
                <!--  FIN  -->
            </div>
        </div>
    </section>

    <!-- Section configuration -->
    <section class="w-full py-6 px-6 bg-white">
        <div class="max-w-5xl mx-auto text-center">
            <h5 class="section-title mb-4 text-left">Paramètrage & Configuration </h5>
            <div class="row g-4 mb-5">  
                
                <!--  DEBUT -->


                <!--   FIN  -->

            </div>
        </div>
    </section>
</div>